USE [master]
GO
/****** Object:  Database [Праздники_№]    Script Date: 21.05.2023 13:06:40 ******/
CREATE DATABASE [Праздники_№]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Праздники_№', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Праздники_№.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Праздники_№_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Праздники_№_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Праздники_№].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Праздники_№]
GO
/****** Object:  Table [dbo].[Agencies]    Script Date: 21.05.2023 13:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agencies](
	[Id_Agency] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Agencies_1] PRIMARY KEY CLUSTERED 
(
	[Id_Agency] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Animators]    Script Date: 21.05.2023 13:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Animators](
	[Id_Animator] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[Id_Agency] [int] NOT NULL,
 CONSTRAINT [PK_Animators] PRIMARY KEY CLUSTERED 
(
	[Id_Animator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Holidays]    Script Date: 21.05.2023 13:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Holidays](
	[Id_Holiday] [int] IDENTITY(1,1) NOT NULL,
	[Id_Animator] [int] NOT NULL,
	[Date_Holiday] [date] NOT NULL,
	[Start_Time] [time](5) NOT NULL,
	[Garland] [int] NULL,
	[PriceGarland] [money] NOT NULL,
	[Firework] [int] NULL,
	[PriceFirework] [money] NOT NULL,
	[Petard] [int] NULL,
	[PricePetard] [money] NOT NULL,
	[Event] [nchar](35) NOT NULL,
	[Service_animator] [int] NOT NULL,
 CONSTRAINT [PK_Holidays] PRIMARY KEY CLUSTERED 
(
	[Id_Holiday] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21.05.2023 13:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[FirstName] [nvarchar](20) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Mail] [nvarchar](30) NOT NULL,
	[Role] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Animators]  WITH CHECK ADD  CONSTRAINT [FK_Animators_Agencies] FOREIGN KEY([Id_Agency])
REFERENCES [dbo].[Agencies] ([Id_Agency])
GO
ALTER TABLE [dbo].[Animators] CHECK CONSTRAINT [FK_Animators_Agencies]
GO
ALTER TABLE [dbo].[Holidays]  WITH CHECK ADD  CONSTRAINT [FK_Holidays_Animators] FOREIGN KEY([Id_Animator])
REFERENCES [dbo].[Animators] ([Id_Animator])
GO
ALTER TABLE [dbo].[Holidays] CHECK CONSTRAINT [FK_Holidays_Animators]
GO
USE [master]
GO
